$screen-xl: 1440px;
$screen-lg: 1080px;
$screen-md: 768px;
$screen-sm: 320px;

@mixin mobile {
    @media (max-width: $screen-md - 1) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
        @content;
    }
}

@mixin large-desktop {
    @media (min-width: $screen-xl) {
        @content;
    }
}

@mixin small-desktop {
    @media (min-width: $screen-lg) and (max-width: $screen-xl - 1) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $screen-lg) {
        @content;
    }
}

@mixin mobile-or-tablet {
    @media (max-width: $screen-lg - 1) {
        @content;
    }
}

@mixin tablet-or-desktop {
    @media (min-width: $screen-md) {
        @content;
    }
}

@mixin box-shadow() {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@mixin box-shadow-hover($color: black) {
    box-shadow: 0 14px 28px rgba($color,0.25), 0 10px 10px rgba($color,0.22);
}