:root {
    --main-text-width-wide: 900px;

    --text-size-base: 24px;
    --text-size-xlarge: 2.5em;
    --text-size-large: 1.5em;
    --text-size-default: 1em;    
    --text-size-medium: 0.8em;    
    --text-size-small: 0.7em;
    --text-size-xsmall: 0.58em;
    
}

@import "reset.sass";
@import "colors.scss";
@import "mixins.scss";

@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "ArchivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf") format("truetype");
}

body {
    background-color: $base;
    font-size: var(--text-size-base);
    font-family: Raleway, sans-serif;
    color: white;
    position: relative;
    
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 0.6em;
        background-image: radial-gradient($yellow 40%, transparent 0%);
        background-size: 5px 5px;
        margin-bottom: 0.7rem;
        position: absolute;
        top:0;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 0.6em;
        background-image: radial-gradient($yellow 40%, transparent 0%);
        background-size: 5px 5px;
        bottom: 0;
    }
}

h1 {
    font-size: var(--text-size-xlarge);
    font-family: Raleway;
    font-weight: 800;
    color: $yellow;

    &.tag-header {
        font-size: var(--text-size-xlarge);
        padding-bottom: 0.8em;
    }
    
}

p {
    padding-top: 0.5em;
    padding-bottom: 0.8em;
    line-height: 1.4em;
}

a {
    color: $green;
    text-decoration: none;

    &.bold {
        display: inline-block;
        background-color: $green;
        color: black;
        padding: 0.2em 0.8em;
        @include box-shadow();        

        &:hover {
            text-decoration: none;
            @include box-shadow-hover();
        }
    }

    &:hover {
        text-decoration: underline;
    }
   
}

.glow-on-hover{
    border: 0;
    position: relative;
    z-index: 0;
    display: inline-block;
    background-color: transparent;
    padding: 0.5em 0.8em;
    color: $base;
    font-size: var(--text-size-default);
    cursor: pointer;
    border-radius: 10px;
    font-family: Raleway, sans-serif;
    

    &::before{
        content: '';
        border-radius: 10px;
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    &::after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $yellow;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    &:hover {
        background-color: black;
        text-decoration: none;
        &::before {
            opacity: 1;
        }
    }
}

.body {
    width: var(--main-text-width-wide);
    max-width: 80vw;
    margin: 0 auto;
}


section {
    min-height: 100vh;
    padding: 100px 0;

    &.home {
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        > div {
            padding-bottom: 0.8em;
        }
        
        h2 {
            font-weight: 700;
            padding-bottom: 0.5em;
        }
    }
}

.links {
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 2em;
    padding-right: 1rem;

    li {
        text-align: right;
        padding-bottom: 1em;

        a {
            color: $yellow;
        }
    }    
    
}

.title {
    position: fixed;
    left: -5rem;
    top: 6.5em; 
    transform: rotate(-90deg);
}

.contact {
    position: fixed;
    right: -5rem;
    bottom: 10rem;
    transform: rotate(90deg);
}


.skills {
    color: white;
    line-height: 1.4em;  
    font-family: "Karla";  

    li {
        display: inline-block;
        padding-right: 0.5rem;
    }

    span{
        color: $yellow; 
        font-weight: 900;       
    }
}

//############## About Styles ###############/

//############## Uses Styles ###############/
.uses {    
    &-listing {
        display: flex;
        flex-wrap: wrap;
        
        > div {
            flex-basis: 33%;
            margin-bottom: 0.8em;;
            h2 {
                color: $red;
            }
            ul {
                padding-top: 0.8em;
                li {
                    font-size: var(--text-size-small);
                    padding-bottom: 0.8em;
                    display: flex;                    

                    span {
                        padding-right: 0.8em;
                    }

                    p {
                        padding-bottom: 0;
                    }
                    
                }
            }
        }
    }    
}

//############## Blog Styles ###############/

.tags-list {
    margin-bottom: 2em;
    li {
        display: inline-block;
        margin-right: 0.8em; 
        margin-bottom: 0.8em; 

        a {
            display: block;
            color: $red;
            padding: 0.5em;
            @include box-shadow();            

            &:hover {
                color: lighten($color: $red, $amount: 20);
                text-decoration: none;
                @include box-shadow-hover($red);
            }
        }

        small {
            font-size: 0.9em;
        }
    }
}

.blog-post {
    color: white;
    margin-bottom: 0.8em;
    h1 {
        font-size: 1.5em;
        line-height: 1.4em;
    }

    &__banner {
        margin: 0.8em 0;
    }
    
    &__date {
        font-size: 0.7em;
        color: darken($color: white, $amount: 30);
        padding: 0.8em 0;
    }

    &__tag {
        display: inline-block;
        font-size: 0.7em;
        background: $red;
        padding: 0.5em;
    }

    &__content {
        img {
            width: 50%;
            object-fit: cover;
            object-position: center center;
            margin: 0 auto;
            display: block;
        }

        ul {
            list-style: disc;
        }

        ol {
            list-style: decimal;
        }                   

        ul, ol {
            padding-left: 25px;
            
            li {
                line-height: 1.4em;
                padding-bottom: 0.8em;
            }
        }
    }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

button {
    &.resume {
        text-transform: uppercase;
    }
    
    &.back {
        padding: 0.2em 0.5em;
        font-size: 0.8em;
        border: 1px solid darken(white, 20%);
        margin-bottom: 1.2em;
        cursor: pointer;
        @include box-shadow();

        &:hover {
            @include box-shadow-hover(darken(white, 30));
        }
    }
}

@include mobile {
    .body {
        width: 100%;
        max-width: none;
             
    }

    .title, .contact {
        display: none;
    }

    .links {
        position: relative;
        display: flex;
        justify-content: flex-end;
        left: 0;

        li {
            margin-right: 0.8em;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
    }

    section {
       padding: 100px 0.8em 100px 0.8em; 
    }

    h1 {
        font-size: var(--text-size-large);
        &.tag-header {
            font-size: var(--text-size-large);
        }
    }

    section.home {
        padding: 100px 0.8em 100px 0.8em; 

        p {
            font-size: var(--text-size-medium);
        }

        .skills {
            font-size: var(--text-size-medium);
        }
    }

    .uses {    
        &-listing {
            > div {
                flex-basis: 100%;
            }
        }
    }


    .blog-post {

        &__content {
            img {
                width: 100%;
            }
        }
    }
}