:root {
    --text-size-base: 24px;
    --text-size-xlarge: 5rem;
    --text-size-default: 1rem;
    --text-size-large: 1.5rem;
    --text-size-small: 0.75rem;
    --text-size-xsmall: 0.58rem;
    --text-size-medium: 1.25rem;
}

@import "reset.sass";
@import "colors.scss";
@import "mixins.scss";

@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "ArchivoBlack";
    src: url("../fonts/ArchivoBlack-Regular.ttf") format("truetype");
}

body {
    background-color: $base;
    font-size: var(--text-size-base);
    font-family: "Karla", Arial, Helvetica, sans-serif;
    color: $cyan;
    position: relative;
    
    &::before {
        content: "";
        display: block;
        width: 100vw;
        height: 0.6em;
        background-image: radial-gradient($yellow 40%, transparent 0%);
        background-size: 5px 5px;
        margin-bottom: 0.7rem;
        position: absolute;
        top:0;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100vw;
        height: 0.6em;
        background-image: radial-gradient($yellow 40%, transparent 0%);
        background-size: 5px 5px;
        margin-bottom: 0.7rem;
        bottom: 0;
    }
    
}

h1 {
    font-size: var(--text-size-xlarge);
    font-family: "ArchivoBlack", Arial, Helvetica, sans-serif;
    color: $yellow;
}

p {
    padding-top: 0.5em;
    padding-bottom: 0.8em;
    line-height: 1.4em;
}

a {
    color: $green;;
}

.body {
    width: 60vw;
    margin: 0 auto;
    height: 100vh;    
}

section {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    &.home {
        height: 100vh;
    }
}

.links {
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 2em;
    padding-right: 1rem;

    li {
        text-align: center;
        padding-bottom: 0.8rem;
    }    
    
}

.title {
    position: fixed;
    left: -5rem;
    top: 6.5em; 
    transform: rotate(-90deg);
}

.contact {
    position: fixed;
    right: -5rem;
    bottom: 10rem;
    transform: rotate(90deg);
}


.skills {
    color: white;

    li {
        display: inline-block;
        padding-right: 0.5rem;
    }

    span{
        color: $yellow; 
        font-weight: 900;       
    }
}

//############## About Styles ###############/

//############## Uses Styles ###############/
.uses {
    display: flex;
    flex-wrap: wrap;
    
    div {
        flex-basis: 33%;
    }
}